spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/journaldb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  logging:
    level:
      org.springframework.security: TRACE
server:
  port: 8088